@charset "utf-8";

// function
@function per ($size, $ratio:1200px) {
	@return ($size / $ratio) * 100%;
}

@function vw ($size, $ratio:1200px) {
	@return ($size / $ratio) * 100vw;
}

// mixin
@mixin circle ($size, $bg:#fff, $color:#fff, $border:none) {
	width:$size;
	height:$size;
	border-radius:$size;
	background:$bg;
	color:$color;
	border:$border;
	display:inline-block;
	line-height:$size;
	text-align:center;
}
@mixin clear () {
	&:after{content:"";display:block;clear:blth;}
}
@mixin pc {
	@media (min-width:1200px) {
		@content;
	}
}
@mixin tablet {
	@media (max-width:1199px) {
		@content;
	}
}
@mixin only-tablet {
	@media (min-width:768px) and (max-width:1199px) {
		@content;
	}
}
@mixin mobile {
	@media (max-width:767px) {
		@content;
	}
}

// color
$color-blue:#4894db;
$color-indigo:#1b2655;
$color-darkblue:#3f69a1;
$color-greyblue:#3d485c;
$color-red:#db4853;
$color-grey:#f6f8fa;
$color-google:#cc3731;
$color-naver:#1dc800;
$color-facebook:#3b5999;
$color-kakao:#ffeb00;
$color-blue-darken-10:darken($color-blue, 10%);
$color-blue-darken-20:darken($color-blue, 20%);
$color-blue-darken-30:darken($color-blue, 30%);
$color-blue-darken-40:darken($color-blue, 40%);
$color-blue-darken-50:darken($color-blue, 50%);
$color-blue-lighten-10:lighten($color-blue, 10%);
$color-blue-lighten-20:lighten($color-blue, 20%);
$color-blue-lighten-30:lighten($color-blue, 30%);
$color-blue-lighten-40:lighten($color-blue, 40%);
$color-blue-lighten-50:lighten($color-blue, 50%);
$color-red-darken-10:darken($color-red, 10%);
$color-red-darken-20:darken($color-red, 20%);
$color-red-darken-30:darken($color-red, 30%);
$color-red-darken-40:darken($color-red, 40%);
$color-red-darken-50:darken($color-red, 50%);
$color-red-lighten-10:lighten($color-red, 10%);
$color-red-lighten-20:lighten($color-red, 20%);
$color-red-lighten-30:lighten($color-red, 30%);
$color-red-lighten-40:lighten($color-red, 40%);
$color-red-lighten-50:lighten($color-red, 50%);

// font
$font:"MalgunGothic","Malgun Gothic";