/* responsive */
@include pc () {
  .container{max-width:1200px;margin:0 auto;}
  .mobile, .tablet{display:none;}
  .only-mobile{display:none;}
}
@include tablet () {
  .pc{display:none;}
}
@include only-tablet () {
  .only-mobile{display:none;}
}
@include mobile () {
  .only-tablet{display:none;}
}

/* input */
::placeholder{color:#aaa;}
.input-label{position:relative;display:block;$size:50px;
  .pre{position:absolute;top:0;left:0;height:$size;width:$size;display:flex;justify-content:center;align-items:center;z-index:10;}
  .lbl{position:absolute;top:0;bottom:0;line-height:$size;left:$size;vertical-align:middle;display:block;color:#aaa;}
  &.color-input{
    .color-label{position:absolute;left:50px;top:15px;width:20px;height:20px;}
    input{padding-left:80px;}
  }
  input, select{height:$size;padding-left:$size;font-size:15px;-webkit-appearance:none;}
  select{background:#fff;border-radius:0;border:1px solid #ddd;}
  textarea{padding:15px 0 10px $size;}
  input:valid+.lbl,
  textarea:valid+.lbl{display:none;}
  @include mobile () {
    overflow:hidden;$size:40px;
    .pre{height:$size;width:$size;}
    .lbl{line-height:$size;left:$size;}
    input, select{height:$size;padding-left:$size;font-size:13px;}
    textarea{padding:15px 0 10px $size;}
  }
}
.fields{
  li{
    +li{margin-top:10px;}
    &.btm{display:flex;justify-content:space-between;
      >*{width:49%;}
    }
  }
  @include mobile () {
    li+li{margin-top:5px;}
  }
}
.color-label{width:15px;height:15px;border-radius:3px;display:inline-block;vertical-align:middle;}

/* button */
a.btn{text-decoration:none;text-align:center;}
.btn{border:none;padding:7px 15px;vertical-align:middle;font-size:15px;font-family:inherit;color:#FFF;transition:.3s;vertical-align:middle;cursor:pointer;display:inline-block;border-radius:3px;
  &.full{display:block;text-align:center;width:100%;box-sizing:border-box;padding:10px 0;font-size:17px;font-weight:400;}
  &.mini{padding:3px 7px;font-size:13px;}
  &.white{border:1px solid #fff;
    &:hover{background:#fff;color:#444;}
  }
  &.main{background:$color-blue;}
  &.point{background:$color-naver;}
  &.delete{background:$color-red;}
  &.join{background:$color-blue-darken-10;}
  &.auto{background:#999;}
  &.default{background:#777;}
  &.complete{background:$color-naver}
  &.error{background:$color-google}
  &.process{background:$color-kakao;color:#3c1e1e;}
  +.btn:not(.btn-full){margin-left:3px;}
  @include mobile () {
    padding:5px 10px;font-size:13px;
    &.mobile-btn-full{display:block;text-align:center;width:100%;box-sizing:border-box;padding:7px 0;font-size:13px;font-weight:400;
      +.mobile-btn-full{margin-left:0;margin-top:3px;}
    }
    &.btn-full{display:block;text-align:center;width:100%;box-sizing:border-box;padding:7px 0;font-size:15px;font-weight:400;}
  }
  &.google-login{background:$color-google;color:#fff;padding:0 5px;}
}
.btn-group{text-align:center;padding:40px 0;
  &.left{text-align:left;}
  &.right{text-align:right;}
  &.btm{padding-bottom:0;}
  @include mobile () {
    &.mobile-btn-group{padding-top:10px;}
  }
}

/* layer */
.layer{position:fixed;left:0;right:0;top:0;bottom:0;text-align:center;background:fade-out(#000, .7);overflow:auto;z-index:100;
  >div{background:#FFF;padding:20px;margin:20px;position:relative;text-align:left;
    >a.close{color:#FFF;background:$color-blue-lighten-10;display:flex;width:40px;height:40px;align-items:center;justify-content:center;font-size:17px;position:absolute;right:0;top:0;text-decoration:none;opacity:.7;transition:.3s;
      &:hover{opacity:1;}
    }
  }
  .layer-title{padding:0 10px;line-height:40px;margin:-20px -20px 20px;font-size:17px;background:$color-blue-darken-10;color:#fff;}
  @include mobile () {
    >div{width:calc(100% - 80px);}
    .layer-title{font-size:15px;}
  }
}

/* table-wrap */
.table-wrap{
  table{width:100%;border-spacing:0;border-collapse:collapse;}
  td,th{height:40px;font-size:13px;color:#666;text-align:center;}
  tr{cursor:pointer;
    &:hover td,
    &.active td{background:#f5f5f5;}
  }
}

/* color */
.red{color:$color-red}
.blue{color:$color-blue}